In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("hotel_bookings.csv")
df1 = pd.read_csv("hotel_bookings.csv")

df1.head().T

,0,1,2,3,4
hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel,Resort Hotel
is_canceled,0,0,0,0,0
lead_time,342,737,7,13,14
arrival_date_year,2015,2015,2015,2015,2015
arrival_date_month,July,July,July,July,July
arrival_date_week_number,27,27,27,27,27
arrival_date_day_of_month,1,1,1,1,1
stays_in_weekend_nights,0,0,0,0,0
stays_in_week_nights,0,0,1,1,2
adults,2,2,1,1,2
children,0,0,0,0,0
babies,0,0,0,0,0
meal,BB,BB,BB,BB,BB
country,PRT,PRT,GBR,GBR,GBR
market_segment,Direct,Direct,Direct,Corporate,Online TA
distribution_channel,Direct,Direct,Direct,Corporate,TA/TO
is_repeated_guest,0,0,0,0,0
previous_cancellations,0,0,0,0,0
previous_bookings_not_canceled,0,0,0,0,0
reserved_room_type,C,C,A,A,A
assigned_room_type,C,C,C,A,A
booking_changes,3,4,0,0,0
deposit_type,No Deposit,No Deposit,No Deposit,No Deposit,No Deposit
agent,NaN,NaN,NaN,304,240
company,NaN,NaN,NaN,NaN,NaN
days_in_waiting_list,0,0,0,0,0
customer_type,Transient,Transient,Transient,Transient,Transient
adr,0,0,75,75,98
required_car_parking_spaces,0,0,0,0,0
total_of_special_requests,0,0,0,0,1
reservation_status,Check-Out,Check-Out,Check-Out,Check-Out,Check-Out
reservation_status_date,01-07-2015,01-07-2015,02-07-2015,02-07-2015,03-07-2015

In [2]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [3]:
df1['adr']

0           0.00
1           0.00
2          75.00
3          75.00
4          98.00
           ...
119385     96.14
119386    225.43
119387    157.71
119388    104.40
119389    151.20
Name: adr, Length: 119390, dtype: float64

In [4]:
df['country'].mode()

0    PRT
dtype: object

In [5]:
df['country'].fillna('PRT',inplace=True)
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [6]:
df['children'].unique()

array([ 0.,  1.,  2., 10.,  3., nan])

In [7]:
df['children'].dropna(axis=0,inplace=True)
df['children'].unique()

array([ 0.,  1.,  2., 10.,  3., nan])

In [8]:
df['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

In [9]:
df['company'].value_counts()

40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
229.0      1
213.0      1
416.0      1
320.0      1
461.0      1
Name: company, Length: 352, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [11]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [12]:
df['children'].dropna(axis=0,inplace=True)

In [13]:
df['agent'].fillna(df['agent'].mean(),inplace=True)
df['company'].fillna(df['company'].mean(),inplace=True)

In [14]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [15]:
df['lead_time'].unique()

array([342, 737,   7,  13,  14,   0,   9,  85,  75,  23,  35,  68,  18,
        37,  12,  72, 127,  78,  48,  60,  77,  99, 118,  95,  96,  69,
        45,  40,  15,  36,  43,  70,  16, 107,  47, 113,  90,  50,  93,
        76,   3,   1,  10,   5,  17,  51,  71,  63,  62, 101,   2,  81,
       368, 364, 324,  79,  21, 109, 102,   4,  98,  92,  26,  73, 115,
        86,  52,  29,  30,  33,  32,   8, 100,  44,  80,  97,  64,  39,
        34,  27,  82,  94, 110, 111,  84,  66, 104,  28, 258, 112,  65,
        67,  55,  88,  54, 292,  83, 105, 280, 394,  24, 103, 366, 249,
        22,  91,  11, 108, 106,  31,  87,  41, 304, 117,  59,  53,  58,
       116,  42, 321,  38,  56,  49, 317,   6,  57,  19,  25, 315, 123,
        46,  89,  61, 312, 299, 130,  74, 298, 119,  20, 286, 136, 129,
       124, 327, 131, 460, 140, 114, 139, 122, 137, 126, 120, 128, 135,
       150, 143, 151, 132, 125, 157, 147, 138, 156, 164, 346, 159, 160,
       161, 333, 381, 149, 154, 297, 163, 314, 155, 323, 340, 356, 142,
       328, 144, 336, 248, 302, 175, 344, 382, 146, 170, 166, 338, 167,
       310, 148, 165, 172, 171, 145, 121, 178, 305, 173, 152, 354, 347,
       158, 185, 349, 183, 352, 177, 200, 192, 361, 207, 174, 330, 134,
       350, 334, 283, 153, 197, 133, 241, 193, 235, 194, 261, 260, 216,
       169, 209, 238, 215, 141, 189, 187, 223, 284, 214, 202, 211, 168,
       230, 203, 188, 232, 709, 219, 162, 196, 190, 259, 228, 176, 250,
       201, 186, 199, 180, 206, 205, 224, 222, 182, 210, 275, 212, 229,
       218, 208, 191, 181, 179, 246, 255, 226, 288, 253, 252, 262, 236,
       256, 234, 254, 468, 213, 237, 198, 195, 239, 263, 265, 274, 217,
       220, 307, 221, 233, 257, 227, 276, 225, 264, 311, 277, 204, 290,
       266, 270, 294, 319, 282, 251, 322, 291, 269, 240, 271, 184, 231,
       268, 247, 273, 300, 301, 267, 244, 306, 293, 309, 272, 242, 295,
       285, 243, 308, 398, 303, 245, 424, 279, 331, 281, 339, 434, 357,
       325, 329, 278, 332, 343, 345, 360, 348, 367, 353, 373, 374, 406,
       400, 326, 379, 399, 316, 341, 320, 385, 355, 363, 358, 296, 422,
       390, 335, 370, 376, 375, 397, 289, 542, 403, 383, 384, 359, 393,
       337, 362, 365, 435, 386, 378, 313, 351, 287, 471, 462, 411, 450,
       318, 372, 371, 454, 532, 445, 389, 388, 407, 443, 437, 451, 391,
       405, 412, 419, 420, 426, 433, 440, 429, 418, 447, 461, 605, 457,
       475, 464, 482, 626, 489, 496, 503, 510, 517, 524, 531, 538, 545,
       552, 559, 566, 573, 580, 587, 594, 601, 608, 615, 622, 629, 396,
       410, 395, 423, 408, 409, 448, 465, 387, 414, 476, 479, 467, 490,
       493, 478, 504, 507, 458, 518, 521, 377, 444, 380, 463], dtype=int64)

In [16]:
df['arrival_date_year'].unique()

array([2015, 2016, 2017], dtype=int64)

In [17]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [18]:
df['arrival_date_month']= df['arrival_date_month'].replace({'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12})
df['arrival_date_month'].unique()

array([ 7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,  6], dtype=int64)

In [19]:
df['required_car_parking_spaces'].value_counts()

0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64

In [20]:
df['reservation_status_date'].value_counts()

21-10-2015    1461
06-07-2015     805
25-11-2016     790
01-01-2015     763
18-01-2016     625
              ...
05-03-2015       1
07-04-2015       1
27-02-2015       1
28-01-2015       1
24-02-2015       1
Name: reservation_status_date, Length: 926, dtype: int64

In [21]:
df = pd.get_dummies(df,columns=['hotel','meal','reserved_room_type','assigned_room_type','market_segment','distribution_channel','deposit_type','customer_type','reservation_status'],drop_first=True)
df

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,distribution_channel_GDS,distribution_channel_TA/TO,distribution_channel_Undefined,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show
0,0,342,2015,7,27,1,0,0,2,0.0,...,0,0,0,0,0,0,1,0,1,0
1,0,737,2015,7,27,1,0,0,2,0.0,...,0,0,0,0,0,0,1,0,1,0
2,0,7,2015,7,27,1,0,1,1,0.0,...,0,0,0,0,0,0,1,0,1,0
3,0,13,2015,7,27,1,0,1,1,0.0,...,0,0,0,0,0,0,1,0,1,0
4,0,14,2015,7,27,1,0,2,2,0.0,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,8,35,30,2,5,2,0.0,...,0,1,0,0,0,0,1,0,1,0
119386,0,102,2017,8,35,31,2,5,3,0.0,...,0,1,0,0,0,0,1,0,1,0
119387,0,34,2017,8,35,31,2,5,2,0.0,...,0,1,0,0,0,0,1,0,1,0
119388,0,109,2017,8,35,31,2,5,2,0.0,...,0,1,0,0,0,0,1,0,1,0
119389,0,205,2017,8,35,29,2,7,2,0.0,...,0,1,0,0,0,0,1,0,1,0

In [22]:
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])
df['reservation_status_date']

0        2015-01-07
1        2015-01-07
2        2015-02-07
3        2015-02-07
4        2015-03-07
            ...
119385   2017-06-09
119386   2017-07-09
119387   2017-07-09
119388   2017-07-09
119389   2017-07-09
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [23]:
df['reservation_status_day']   = df['reservation_status_date'].dt.day
df['reservation_status_month']   = df['reservation_status_date'].dt.month
df['reservation_status_year']   = df['reservation_status_date'].dt.year
df.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show,reservation_status_day,reservation_status_month,reservation_status_year
0,0,342,2015,7,27,1,0,0,2,0.0,...,0,0,0,1,0,1,0,7,1,2015
1,0,737,2015,7,27,1,0,0,2,0.0,...,0,0,0,1,0,1,0,7,1,2015
2,0,7,2015,7,27,1,0,1,1,0.0,...,0,0,0,1,0,1,0,7,2,2015
3,0,13,2015,7,27,1,0,1,1,0.0,...,0,0,0,1,0,1,0,7,2,2015
4,0,14,2015,7,27,1,0,2,2,0.0,...,0,0,0,1,0,1,0,7,3,2015

In [24]:
country_labels = {'ABW':1,'AGO':2,'AIA':3,'ALB':4,'AND':5,'ARE':6,'ARG':7,'ARM':8,'ASM':9,'ATA':10,'ATF':11,'AUS':12,
                  'AUT':13,'AZE':14,'BDI':15,'BEL':16,'BEN':17,'BFA':18,'BGD':19,'BGR':20,'BHR':21,'BHS':22,'BIH':23,
                  'BLR':24,'BOL':25,'BRA':26,'BRB':27,'BWA':28,'CAF':29,'CHE':30,'CHL':31,'CHN':32,'CIV':33,'CMR':34,
                  'CN':35,'COL':36,'COM':37,'CPV':38,'CRI':39,'CUB':40,'CYM':41,'CYP':42,'CZE':43,'DEU':44,'DJI':45,
                  'DMA':46,'DNK':47,'DOM':48,'DZA':49,'ECU':50,'EGY':51,'ESP':52,'EST':53,'ETH':54,'FIN':55,'FJI':56,
                  'FRA':57,'FRO':58,'GAB':59,'GBR':60,'GEO':61,'GGY':62,'GHA':63,'GIB':64,'GLP':65,'GNB':66,'GRC':67,
                  'GTM':68,'GUY':69,'HKG':70,'HND':71,'HRV':72,'HUN':73,'IDN':74,'IMN':75,'IND':76,'IRL':77,'IRN':78,
                  'IRQ':79,'ISL':80,'ISR':81,'ITA':82,'JAM':83,'JEY':84,'JOR':85,'JPN':86,'KAZ':87,'KEN':88,'KHM':89,
                  'KIR':90,'KNA':91,'KOR':92,'KWT':93,'LAO':94,'LBN':95,'LBY':96,'LCA':97,'LIE':98,'LKA':99,'LTU':100,
                  'LUX':101,'LVA':102,'MAC':103,'MAR':104,'MCO':105,'MDG':106,'MDV':107,'MEX':108,'MKD':109,'MLI':110,
                  'MLT':111,'MMR':112,'MNE':113,'MOZ':114,'MRT':115,'MUS':116,'MWI':117,'MYS':118,'MYT':119,'NAM':120,
                  'NCL':121,'NGA':122,'NIC':123,'NLD':124,'NOR':125,'NPL':126,'NZL':127,'OMN':128,'PAK':129,'PAN':130,
                  'PER':131,'PHL':132,'PLW':133,'POL':134,'PRI':135,'PRT':136,'PRY':137,'PYF':138,'QAT':139,'ROU':140,
                  'RUS':141,'RWA':142,'SAU':143,'SDN':144,'SEN':145,'SGP':146,'SLE':147,'SLV':148,'SMR':149,'SRB':150,
                  'STP':151,'SUR':152,'SVK':153,'SVN':154,'SWE':155,'SYC':156,'SYR':157,'TGO':158,'THA':159,'TJK':160,
                  'TMP':161,'TUN':162,'TUR':163,'TWN':164,'TZA':165,'UGA':166,'UKR':167,'UMI':168,'URY':169,'USA':170,
                  'UZB':171,'VEN':172,'VGB':173,'VNM':174,'ZAF':175,'ZMB':176,'ZWE':177}

In [25]:
df['country'] = df['country'].replace(country_labels)
df['country']

0         136
1         136
2          60
3          60
4          60
         ...
119385     16
119386     57
119387     44
119388     60
119389     44
Name: country, Length: 119390, dtype: int64

In [26]:
df.drop('reservation_status_date',axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 68 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   is_canceled                     119390 non-null  int64
 1   lead_time                       119390 non-null  int64
 2   arrival_date_year               119390 non-null  int64
 3   arrival_date_month              119390 non-null  int64
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  country                         119390 non-null  int64
 12  is_repeated_guest               119390 non-null  int64
 13  previous_cancellations          119390 non-null  int64
 14  previous_bookings_not_canceled  119390 non-null  int64
 15  booking_changes                 119390 non-null  int64
 16  agent                           119390 non-null  float64
 17  company                         119390 non-null  float64
 18  days_in_waiting_list            119390 non-null  int64
 19  adr                             119390 non-null  float64
 20  required_car_parking_spaces     119390 non-null  int64
 21  total_of_special_requests       119390 non-null  int64
 22  hotel_Resort Hotel              119390 non-null  uint8
 23  meal_FB                         119390 non-null  uint8
 24  meal_HB                         119390 non-null  uint8
 25  meal_SC                         119390 non-null  uint8
 26  meal_Undefined                  119390 non-null  uint8
 27  reserved_room_type_B            119390 non-null  uint8
 28  reserved_room_type_C            119390 non-null  uint8
 29  reserved_room_type_D            119390 non-null  uint8
 30  reserved_room_type_E            119390 non-null  uint8
 31  reserved_room_type_F            119390 non-null  uint8
 32  reserved_room_type_G            119390 non-null  uint8
 33  reserved_room_type_H            119390 non-null  uint8
 34  reserved_room_type_L            119390 non-null  uint8
 35  reserved_room_type_P            119390 non-null  uint8
 36  assigned_room_type_B            119390 non-null  uint8
 37  assigned_room_type_C            119390 non-null  uint8
 38  assigned_room_type_D            119390 non-null  uint8
 39  assigned_room_type_E            119390 non-null  uint8
 40  assigned_room_type_F            119390 non-null  uint8
 41  assigned_room_type_G            119390 non-null  uint8
 42  assigned_room_type_H            119390 non-null  uint8
 43  assigned_room_type_I            119390 non-null  uint8
 44  assigned_room_type_K            119390 non-null  uint8
 45  assigned_room_type_L            119390 non-null  uint8
 46  assigned_room_type_P            119390 non-null  uint8
 47  market_segment_Complementary    119390 non-null  uint8
 48  market_segment_Corporate        119390 non-null  uint8
 49  market_segment_Direct           119390 non-null  uint8
 50  market_segment_Groups           119390 non-null  uint8
 51  market_segment_Offline TA/TO    119390 non-null  uint8
 52  market_segment_Online TA        119390 non-null  uint8
 53  market_segment_Undefined        119390 non-null  uint8
 54  distribution_channel_Direct     119390 non-null  uint8
 55  distribution_channel_GDS        119390 non-null  uint8
 56  distribution_channel_TA/TO      119390 non-null  uint8
 57  distribution_channel_Undefined  119390 non-null  uint8
 58  deposit_type_Non Refund         119390 non-null  uint8
 59  deposit_type_Refundable         119390 non-null  uint8
 60  customer_type_Group             119390 non-null  uint8
 61  customer_type_Transient         119390 non-null  uint8
 62  customer_type_Transient-Party   119390 non-null  uint8
 63  reservation_status_Check-Out    119390 non-null  uint8
 64  reservation_status_No-Show      119390 non-null  uint8
 65  reservation_status_day          119390 non-null  int64
 66  reservation_status_month        119390 non-null  int64
 67  reservation_status_year         119390 non-null  int64
dtypes: float64(4), int64(21), uint8(43)
memory usage: 27.7 MB

In [27]:
for i in df.isnull().sum():
    print(i, end= ' ')

0 0 0 0 0 0 0 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [28]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X = df.iloc[:,0:20]
X

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr
0,0,342,2015,7,27,1,0,0,2,0.0,0,136,0,0,0,3,86.693382,189.266735,0,0.00
1,0,737,2015,7,27,1,0,0,2,0.0,0,136,0,0,0,4,86.693382,189.266735,0,0.00
2,0,7,2015,7,27,1,0,1,1,0.0,0,60,0,0,0,0,86.693382,189.266735,0,75.00
3,0,13,2015,7,27,1,0,1,1,0.0,0,60,0,0,0,0,304.000000,189.266735,0,75.00
4,0,14,2015,7,27,1,0,2,2,0.0,0,60,0,0,0,0,240.000000,189.266735,0,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,8,35,30,2,5,2,0.0,0,16,0,0,0,0,394.000000,189.266735,0,96.14
119386,0,102,2017,8,35,31,2,5,3,0.0,0,57,0,0,0,0,9.000000,189.266735,0,225.43
119387,0,34,2017,8,35,31,2,5,2,0.0,0,44,0,0,0,0,9.000000,189.266735,0,157.71
119388,0,109,2017,8,35,31,2,5,2,0.0,0,60,0,0,0,0,89.000000,189.266735,0,104.40
119389,0,205,2017,8,35,29,2,7,2,0.0,0,44,0,0,0,0,9.000000,189.266735,0,151.20

In [29]:
df.columns

Xcolumns = ['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'country', 'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list','required_car_parking_spaces',
       'total_of_special_requests',
       'hotel_Resort Hotel', 'meal_FB', 'meal_HB', 'meal_SC', 'meal_Undefined',
       'reserved_room_type_B', 'reserved_room_type_C', 'reserved_room_type_D',
       'reserved_room_type_E', 'reserved_room_type_F', 'reserved_room_type_G',
       'reserved_room_type_H', 'reserved_room_type_L', 'reserved_room_type_P',
       'assigned_room_type_B', 'assigned_room_type_C', 'assigned_room_type_D',
       'assigned_room_type_E', 'assigned_room_type_F', 'assigned_room_type_G',
       'assigned_room_type_H', 'assigned_room_type_I', 'assigned_room_type_K',
       'assigned_room_type_L', 'assigned_room_type_P',
       'market_segment_Complementary', 'market_segment_Corporate',
       'market_segment_Direct', 'market_segment_Groups',
       'market_segment_Offline TA/TO', 'market_segment_Online TA',
       'market_segment_Undefined', 'distribution_channel_Direct',
       'distribution_channel_GDS', 'distribution_channel_TA/TO',
       'distribution_channel_Undefined', 'deposit_type_Non Refund',
       'deposit_type_Refundable', 'customer_type_Group',
       'customer_type_Transient', 'customer_type_Transient-Party',
       'reservation_status_Check-Out', 'reservation_status_No-Show',
       'reservation_status_day', 'reservation_status_month',
       'reservation_status_year']

In [30]:
X = df.loc[:,Xcolumns]
X.head
y = df.loc[:,'adr']
y

0           0.00
1           0.00
2          75.00
3          75.00
4          98.00
           ...
119385     96.14
119386    225.43
119387    157.71
119388    104.40
119389    151.20
Name: adr, Length: 119390, dtype: float64

In [31]:
X

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show,reservation_status_day,reservation_status_month,reservation_status_year
0,0,342,2015,7,27,1,0,0,2,0.0,...,0,0,0,1,0,1,0,7,1,2015
1,0,737,2015,7,27,1,0,0,2,0.0,...,0,0,0,1,0,1,0,7,1,2015
2,0,7,2015,7,27,1,0,1,1,0.0,...,0,0,0,1,0,1,0,7,2,2015
3,0,13,2015,7,27,1,0,1,1,0.0,...,0,0,0,1,0,1,0,7,2,2015
4,0,14,2015,7,27,1,0,2,2,0.0,...,0,0,0,1,0,1,0,7,3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,8,35,30,2,5,2,0.0,...,0,0,0,1,0,1,0,9,6,2017
119386,0,102,2017,8,35,31,2,5,3,0.0,...,0,0,0,1,0,1,0,9,7,2017
119387,0,34,2017,8,35,31,2,5,2,0.0,...,0,0,0,1,0,1,0,9,7,2017
119388,0,109,2017,8,35,31,2,5,2,0.0,...,0,0,0,1,0,1,0,9,7,2017
119389,0,205,2017,8,35,29,2,7,2,0.0,...,0,0,0,1,0,1,0,9,7,2017

In [32]:
y

0           0.00
1           0.00
2          75.00
3          75.00
4          98.00
           ...
119385     96.14
119386    225.43
119387    157.71
119388    104.40
119389    151.20
Name: adr, Length: 119390, dtype: float64

In [33]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 67 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   is_canceled                     119390 non-null  int64
 1   lead_time                       119390 non-null  int64
 2   arrival_date_year               119390 non-null  int64
 3   arrival_date_month              119390 non-null  int64
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  country                         119390 non-null  int64
 12  is_repeated_guest               119390 non-null  int64
 13  previous_cancellations          119390 non-null  int64
 14  previous_bookings_not_canceled  119390 non-null  int64
 15  booking_changes                 119390 non-null  int64
 16  agent                           119390 non-null  float64
 17  company                         119390 non-null  float64
 18  days_in_waiting_list            119390 non-null  int64
 19  required_car_parking_spaces     119390 non-null  int64
 20  total_of_special_requests       119390 non-null  int64
 21  hotel_Resort Hotel              119390 non-null  uint8
 22  meal_FB                         119390 non-null  uint8
 23  meal_HB                         119390 non-null  uint8
 24  meal_SC                         119390 non-null  uint8
 25  meal_Undefined                  119390 non-null  uint8
 26  reserved_room_type_B            119390 non-null  uint8
 27  reserved_room_type_C            119390 non-null  uint8
 28  reserved_room_type_D            119390 non-null  uint8
 29  reserved_room_type_E            119390 non-null  uint8
 30  reserved_room_type_F            119390 non-null  uint8
 31  reserved_room_type_G            119390 non-null  uint8
 32  reserved_room_type_H            119390 non-null  uint8
 33  reserved_room_type_L            119390 non-null  uint8
 34  reserved_room_type_P            119390 non-null  uint8
 35  assigned_room_type_B            119390 non-null  uint8
 36  assigned_room_type_C            119390 non-null  uint8
 37  assigned_room_type_D            119390 non-null  uint8
 38  assigned_room_type_E            119390 non-null  uint8
 39  assigned_room_type_F            119390 non-null  uint8
 40  assigned_room_type_G            119390 non-null  uint8
 41  assigned_room_type_H            119390 non-null  uint8
 42  assigned_room_type_I            119390 non-null  uint8
 43  assigned_room_type_K            119390 non-null  uint8
 44  assigned_room_type_L            119390 non-null  uint8
 45  assigned_room_type_P            119390 non-null  uint8
 46  market_segment_Complementary    119390 non-null  uint8
 47  market_segment_Corporate        119390 non-null  uint8
 48  market_segment_Direct           119390 non-null  uint8
 49  market_segment_Groups           119390 non-null  uint8
 50  market_segment_Offline TA/TO    119390 non-null  uint8
 51  market_segment_Online TA        119390 non-null  uint8
 52  market_segment_Undefined        119390 non-null  uint8
 53  distribution_channel_Direct     119390 non-null  uint8
 54  distribution_channel_GDS        119390 non-null  uint8
 55  distribution_channel_TA/TO      119390 non-null  uint8
 56  distribution_channel_Undefined  119390 non-null  uint8
 57  deposit_type_Non Refund         119390 non-null  uint8
 58  deposit_type_Refundable         119390 non-null  uint8
 59  customer_type_Group             119390 non-null  uint8
 60  customer_type_Transient         119390 non-null  uint8
 61  customer_type_Transient-Party   119390 non-null  uint8
 62  reservation_status_Check-Out    119390 non-null  uint8
 63  reservation_status_No-Show      119390 non-null  uint8
 64  reservation_status_day          119390 non-null  int64
 65  reservation_status_month        119390 non-null  int64
 66  reservation_status_year         119390 non-null  int64
dtypes: float64(3), int64(21), uint8(43)
memory usage: 26.8 MB

In [34]:
y.shape

(119390,)

In [35]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [36]:
bestFeatures = SelectKBest(score_func=chi2 , k=10)
fit = bestFeatures.fit(X,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

In [ ]:
featureSocres = pd.concat([dfcolumns,dfscores],axis=1)
featureSocres.columns = ['Specs','Score']
featureSocres

In [40]:
import mysql.connector

#Creating Connection
mycon = mysql.connector.connect(host="localhost",user="root",password="Ashiv@0511")

cur = mycon.cursor()

try:
    dbs1 = cur.execute("show databases")
    #dbs2 = cur.execute("Use weekend3pm")
    #dbs = cur.execute("Create table amz_deal(trade_deal int,region varchar(10),primary key(trade_deal))")
    #dbs3 = cur.execute("show tables")

except:
    mycon.rollback()
for x in cur:
    print(x)

cur.close()

('details',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('shivraj',)
('sudhanshu',)
('sudhanshuu',)
('sys',)
('taskdb',)
('todo',)
('videoscrapperdb',)
('world',)

True