In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline,Pipeline
df = pd.read_csv("D:/MachineLearningProjects/PROJECT/creditDaultersUpdated/Training_FileFromDB/InputFile.csv")
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,360000,1,1,1,38,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
1998,50000,2,2,2,23,-1,-1,-1,0,-1,...,390,390,500,0,780,0,390,500,18300,1
1999,120000,1,2,2,25,2,2,0,0,0,...,83858,86434,88802,0,5000,3158,3934,3802,2000,0
2000,100000,1,2,1,29,0,0,0,0,-1,...,-2618,95748,101299,3320,5000,0,100000,7186,0,0
2001,200000,2,2,1,28,0,0,0,0,0,...,97041,103541,3632,5000,2000,89000,6500,91,1504,0

In [34]:
X = df.iloc[:,:-1]
y = df['default payment next month']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [35]:
pipe = make_pipeline(trf1)

In [37]:

X_train1 = pipe.fit_transform(X_train)
X_train1

array([[0.49275362, 0.        , 0.        , ..., 0.00776319, 0.010225  ,
        0.00283733],
       [0.14492754, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17391304, 1.        , 0.2       , ..., 0.01416014, 0.01380886,
        0.01087643],
       ...,
       [0.05797101, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.08695652, 0.        , 0.2       , ..., 0.        , 0.03272   ,
        0.00868223],
       [0.27536232, 0.        , 0.4       , ..., 0.02037704, 0.01875776,
        0.00715764]])

In [40]:

X_test1 = pipe.transform(X_test)
X_test1

array([[5.64516129e-01, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.12903226e-01, 1.00000000e+00, 2.50000000e-01, ...,
        1.15112321e-02, 4.29012346e-03, 1.66835015e-03],
       [1.61290323e-02, 0.00000000e+00, 0.00000000e+00, ...,
        4.76514636e-03, 4.16049383e-03, 7.11224100e-04],
       ...,
       [5.64516129e-01, 0.00000000e+00, 0.00000000e+00, ...,
        1.15724983e-01, 8.16049383e-01, 3.15889427e-01],
       [6.45161290e-02, 0.00000000e+00, 2.50000000e-01, ...,
        8.84955752e-03, 7.40740741e-03, 2.83733019e-03],
       [5.64516129e-01, 1.00000000e+00, 0.00000000e+00, ...,
        1.00000000e+00, 1.20987654e-03, 5.60467289e-03]])